Instalando as bibliotecas de conexão do bigquery.

In [ ]:
#%pip install google-cloud-bigquery
#%pip install --upgrade google-cloud-bigquery
#%pip install pandas_gbq
#%pip install pandas

Criando um DataFrame da Tabela do BQ

In [1]:
from google.cloud import bigquery
import pandas as pd
from google.oauth2 import service_account

In [2]:
#Especifique o caminho para o arquivo JSON de credenciais
credencial = {
  "type": "service_account",
  "project_id": "PROJECT_ID",
  "private_key_id": "KEY_ID",
  "private_key": "-----BEGIN PRIVATE KEY-----\nPRIVATE_KEY\n-----END PRIVATE KEY-----\n",
  "client_email": "SERVICE_ACCOUNT_EMAIL",
  "client_id": "CLIENT_ID",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://accounts.google.com/o/oauth2/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/SERVICE_ACCOUNT_EMAIL"
}

#Crie um cliente Bigquery usando as credenciais
client = bigquery.Client(credentials=service_account.Credentials.from_service_account_info(credencial))

In [3]:
#Construa sua consulta
query = """
SELECT * FROM `e-commerce-413715.AulaPython.clientes`
"""
#Execute a consulta
resultado = client.query(query)

# Converta os resultados em um DataFrame
df = resultado.to_dataframe()
df.head(5)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,36,2018-01-26 03:29:13+00:00,Mariana,Góes,mariana@meu_email.com,9 7324-4293,Brasil,None,None,NaN,Apto 25
1,73,2018-02-03 07:37:38+00:00,Cristiano,Almeida,cristiano@usuario.com,9 2630-9907,Brasil,None,None,NaN,Conjunto 24
2,84,2018-11-01 15:39:40+00:00,Carol,Bueno,carol@meu_email.com,9 3760-2211,Brasil,None,None,NaN,Conjunto 26
3,95,2018-10-01 11:35:59+00:00,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,None,None,NaN,None
4,0,2017-11-01 14:45:41+00:00,Marta,Jesus,None,9 9102-7834,Brasil,Acre,None,NaN,Conjunto 16